@model MUAT.Models.GenererDoc

@{
    ViewBag.Title = "CreateCPS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Génération de documents</h2>

<h4>Selectionner le type de document à générer</h4>
<select onchange="location.href = 'https://localhost:44348/' + this.value;" style="width:15%; border-bottom-left-radius:4px; border-top-left-radius:4px;">
    <option value="default" selected disabled hidden>--</option>
    <option value="GenererDocs/CreateCPS">CPS</option>
    <option value="GenererDocs/CreateRC">RC</option>
    <option value="GenererDocs/CreateAvisFr">Avis Français</option>
    <option value="GenererDocs/CreateAvisAr">Avis Arabe</option>
</select>

<h3>Générer CPS</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Veuillez remplir les champs</h4>
    <hr />
    <div class="form-group">
        <div class="col-md-10">
            <label for="titre" class="control-label">Sujet de l'appel d'offre</label>
            <input name="titre" class="form-control" />
            <label for="numero" class="control-label">N°</label>
            <input name="numero" class="form-control" />
            <label for="description" class="control-label">Relatif à</label>
            <textarea name="description" class="form-control"></textarea>
            <label for="lot1" class="control-label">Lot N°1</label>
            <input name="lot1" class="form-control" />
            <label for="lot2" class="control-label">Lot N°2 (Optionnel)</label>
            <input name="lot2" class="form-control" />
            <label for="taskslot1" class="control-label">Taches Lot N°1</label>
            <textarea name="taskslot1" class="form-control"></textarea>
            <label for="taskslot2" class="control-label">Taches Lot N°2 (Optionnel)</label>
            <textarea name="taskslot2" class="form-control"></textarea>
            <label for="delai" class="control-label">Délai d'exécution</label>
            <input name="delai" class="form-control" />
            <label for="miseenetatlot1" class="control-label">Mise en état de fonctionnement Lot N°1</label>
            <textarea name="miseenetatlot1" class="form-control"></textarea>
            <label for="miseenetatlot2" class="control-label">Mise en état de fonctionnement Lot N°2 (Optionnel)</label>
            <textarea name="miseenetatlot2" class="form-control"></textarea>
            <label for="testslot1" class="control-label">Tests de fonctionnement Lot N°1</label>
            <textarea name="testslot1" class="form-control"></textarea>
            <label for="testslot2" class="control-label">Tests de fonctionnement Lot N°2 (Optionnel)</label>
            <textarea name="testslot2" class="form-control"></textarea>
            <label for="cautprov1" class="control-label">Cautionnement provisoire Lot N°1</label>
            <input name="cautprov1" class="form-control" />
            <label for="cautprov2" class="control-label">Cautionnement provisoire Lot N°2 (Optionnel)</label>
            <input name="cautprov2" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Générer" class="btn btn-primary" />
        </div>
    </div>
</div>
}
